body, div {
	margin : 0;
	padding : 0;
}

html, body {
	height: 100%;
	max-width: 500px;
	min-width: 320px;
	margin: 0 auto;
	background-color: rgb(0,0,0);
	overflow: hidden;
	transition: all .2s;
}

.small {
	transform: scale(0.8,0.8);
}

#stage {
	position: relative;
	width: 100%;
	height: 100%;
}

.background {
	width: 100%;
	height: 100%;
	background: url(images/bg.jpg) 0px 0px/100% 100% no-repeat;
}

.character {
	position: absolute;
	left: 7.03%;
	top: 19.1%;
	width: 49.1%;
	height: 14.4%;
	background: url(images/character.png) 0px 0px/100% 100% no-repeat;
}

.about {
	position: absolute;
	left: 21.5%;
	top: 14.7%;
	width: 18%;
	height: 16%;
	background: url(images/about.jpg) 0px 0px/100% 100% no-repeat;
}

.works {
	position: absolute;
	left: 19.8%;
	top: 43%;
	width: 60%;
	height: 28%;
	background: url(images/works2.png) 0px 0px/100% 100% no-repeat;
}

.left-hand {
	position: absolute;
	left: 37.6%;
	bottom: 12%;
	width: 6%;
	height: 20%;
	background: url(images/hand.png) 0px 0px/100% 100% no-repeat;
	transform: rotate(27deg);
	-webkit-animation: typing .3s linear infinite alternate;
}



.right-hand {     
	position: absolute;     
	left: 47%;     
	bottom: 12%;
	width: 6%;     
	height: 20%;     
	background: url(images/hand.png) 0px 0px/100% 100% no-repeat;     
	transform: rotate(27deg);     
	-webkit-animation: typing .3s linear infinite alternate; 
	
}

.right-hand-hidden {
	-webkit-animation: none;
	visibility: hidden;
	transition: all .2s;
}

.active {
	visibility: visible;
	transform: translate(60%, -20%) rotate(72deg);
}

.test {
	visibility: hidden;
}

.move_up {
	transform: translate(126%, -40%) rotate(20deg);
}

.foot {
	position: absolute;
	left: 48%;
	bottom: 2%;
	width: 12%;
	height: 16%;
	background: url(images/foot.png) 0px 0px/100% 100% no-repeat;
	transform: rotate(-30deg);
	-webkit-animation: shakefeet 0.6s linear infinite alternate;
}

.person {
	position: absolute;
	left: 18%;
	bottom: 0;
	width: 40%;
	height: 46%;
	background: url(images/person.png) 0px 0px/100% 100% no-repeat;

}

/*联系卡*/
.contact {
	position: absolute;
	left: 66.3%;
	top: 70.6%;
	width: 6.8%;
	height: 4.2%;
	background: url(images/contact.png) 0px 0px/100% 100% no-repeat;
	-webkit-transform-style: preserve-3d;
	transform: skewX(40deg) ;
	transition: all .1s;
}

.contact_move {
	transform: skewX(40deg)  translate(140%, -240%);
}

.contact_copy {
	position: absolute;
	left: 60%;
	top: 60%;
	width: 6.8%;
	height: 4.2%;
	background: url(images/contact.png) 0px 0px/100% 100% no-repeat;
	-webkit-transform-style: preserve-3d;
	/*transform: scale(0.08, 0.1);*/
	transition: all .3s;
	z-index: 100;
	visibility: hidden;
}

.contact_copy_show {
	visibility: visible;	
	left: 50%;
	top: 50%;
	width: 88%;
	height: 88%;
	transform: translate(-50%, -50%) rotate(360deg);
}

/*关闭弹出的叉号*/
.stage_close {
	position: absolute;
	right: 6%;
	top: 5%;
	width: 60px;
	height: 60px;
	transition: all .2s;
	z-index: 100
}

.stage_close_hidden {

}

.rectangle {
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: center center;
	
	width: 50px;
	height: 8px;
	background-color: #fff;
}

#rectangle_up {
	transform: translate(-50%, -50%) rotate(45deg);
}

#rectangle_down {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.tip {
	position: absolute;
	width: 10%;
	height: 5%;
	border: 0px;
	border-radius: 50%;
	background-color: rgb(0, 255, 255);
	opacity: 0.5;
}

#tip_about {
	left: 34%;
	top: 12.2%;
	-webkit-animation: attention 1s linear infinite alternate;
}

#tip_works {
	left: 15%;
	top: 40.6%;
	-webkit-animation: attention 1s linear infinite alternate;
}

#tip_contact {
	left: 64.6%;
	bottom: 25%;
	-webkit-animation: attention 1s linear infinite alternate;
}

/*动画*/
@-webkit-keyframes typing {
	0%{ bottom: 11%;}	
	50% { bottom: 12%;}	
	100% { bottom: 13%;}
}

@-webkit-keyframes shakefeet {
	0% { transform: rotate(-24deg);}	
	50% {transform: rotate(-30deg);}	
	100% { transform: rotate(-36deg);}
}

@-webkit-keyframes attention {
	0% { transform: scale(0.8, 0.8); opacity: .6;}
	50% { transform: scale(1, 1); opacity: .5;}
	100% { transform: scale(1.2, 1.2); opacity: .4;}
}